@charset "UTF-8";
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/* 要素 フォントサイズ・マージン・パディングをリセット */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* 新規追加要素をブロック要素化 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ulのマーカー非表示 */
ol, ul {
  list-style: none;
}

/* 引用符の非表示 */
blockquote, q {
  quotes: none;
}

/* blockquote要素、q要素の前後にコンテンツ非表示 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* フォントサイズ　リセット フォントの縦方向 ベースライン揃え 点線削除 */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

a:hover, a:active {
  text-decoration: none;
  /* opacity: 0.75; */
  /* filter: alpha(opacity=75); */
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a,
a * {
  text-align: center;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* 追加 */
}

/* ins要素 デフォルトセット 色を変える場合はここで変更 */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* mark要素 デフォルトセット 色やフォントスタイルを変える場合はここで変更 */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* テキスト 打ち消し線 */
del {
  text-decoration: line-through;
}

/* IE　デフォルトで点線を下線表示設定　下線設定 マウスオーバー時 ヘルプカーソル表示可 */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/*　隣接するセルのボーダーを重ねて表示　*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 水平罫線デフォルトリセット */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
} 


/* 縦方向の揃え 中央揃え */
input,
select {
  vertical-align: middle;
  
}

/* 画像を縦に並べた時に余白0 */
img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}

/*box-sizingを全ブラウザに対応*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


br {
  line-height: inherit;
}


/*--------------------------------------------------------------
    # メインコンテンツ
--------------------------------------------------------------*/
header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: darkgrey;
  align-items: center;
  position: fixed;
}
 
.title {
  margin-right: auto;
}
 

html {
  font-size: 62.5%;
  line-height: 1.2;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 2.4vw;
    line-height: 1.7;
  }
}

body {
  width: 100%;
  font-weight: 500;
  font-family: "メイリオ", sans-serif;
  --global--color-primary: #63312D;
  color: #63312D;
}

#wrapper {
  overflow: hidden;
  position: relative;
}

#wrapper main {
  position: relative;
}

@media screen and (max-width: 768px) {
  #wrapper main {
    padding-top: 0;
  }
}

/* progress {
  width: 100%;
  background: #fff;
} */
/* 
header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background: #fff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
} */

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }
}

footer {
  position: relative;
}

/* progress {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background: #fff;
} */

/*--------------------------------------------------------------
    # layout html
--------------------------------------------------------------*/

.main {
  padding: 0 0 50px 0;
  background-color: #e4dfde;
  min-height: 70vh;
}

.main .logo {
  padding-top: 20px;
  padding-bottom: 30px;
}

.main h1 {
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 350%;
  text-align: center;
}

.main p {
  line-height: 2.2em;
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 150%;
  text-align: center;
  margin-top: 1rem;
}

.main p.intro_text_sub {
  line-height: 2.2em;
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 200%;
  text-align: center;
  margin-top: 5rem;
}

.main_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .main_container {
    max-width: 720px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center!important;
}

.intro_block {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.intro_text {
  margin: 1rem;
}

.concept {
  padding: 30px 0px;
  background: linear-gradient(-135deg, #d6c19b, #3d9ec8);
}

.concept  h3 {
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 300%;
  text-align: center;
}

.concept  h4 {
  font-family: 'HanziPen SC';
  font-weight: 600;
  font-size: 200%;
  text-align: center;
}

.concept  p {
  font-family: 'HanziPen SC';
  font-weight: 600;
  font-size: 150%;
  text-align: center;
}

@media screen and (max-width: 768px){
  .btn_white {
      width: 70%;
      padding: 2.5rem;
      margin: 0 auto;
  }
}

.btn_white {
  background-color: #ffffff;
  border-radius: 80px;
  max-width: 938px;
  width: 30vw;
  height: 10vh;
  text-align: center;
  margin: 4rem auto 4rem;
  box-shadow: 2px 2px 2px grey;
  padding: 0.5rem;
  white-space: nowrap;
  font-family: 'HanziPen SC';
  font-weight: 600;
  font-size: 150%;
  text-align: center;
  color: #63312D;
}

/*--------------------------------------------------------------
    # result html
--------------------------------------------------------------*/
.result_page{
  height: 100vh;
  width: 100%;
  padding: 0 0 50px 0;
  background-color: #e4dfde;
  min-height: 70vh;
}

.header-bar{
  padding: 30px 0px;
  background: linear-gradient(-135deg, #d6c19b, #3d9ec8);
  height: 18vh;
}

.result_page h1 {
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 350%;
  text-align: center;
}

.result_page h3 {
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 250%;
  text-align: center;
  margin-top: 3rem;
}

.result_page p {
  line-height: 2.2em;
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 200%;
  text-align: center;
  margin-top: 1rem;
}

.result_block {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.result_text{
  margin: 1rem;
}


/*--------------------------------------------------------------
    # quesiton html
--------------------------------------------------------------*/

.container {
  position: relative;
  width: 500%;
  max-width: unset;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

section {
  position: relative;
}

section.qa_block {
  width: 100%;
  height: 100vh;
}

section.qa_block .mv_area {
  width: 100%;
  background: #DDD0CA;
  padding: 1.5rem 0;
}

@media screen and (max-width: 768px) {
  section.qa_block .mv_area {
    padding-bottom: 3rem;
  }
}

section.qa_block .mv_area .pg_sv {
  width: 100%;
  padding: 5rem 0 0;
  /* background: url(../images/title_line.png) center center no-repeat; */
  background-size: contain;
}

@media screen and (max-width: 768px) {
  section.qa_block .mv_area .pg_sv {
    padding: 4rem 0 0;
  }
}

section.qa_block .mv_area span {
  display: block;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  section.qa_block .mv_area span {
    margin-top: 1rem;
  }
}

section.qa_block .mv_area span:first-of-type {
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 500%;
}

@media screen and (max-width: 768px) {
  section.qa_block .mv_area span:first-of-type {
    line-height: 1;
  }
}

section.qa_block .mv_area span:last-of-type {
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 600%;
}

@media screen and (max-width: 768px) {
  section.qa_block .mv_area span:last-of-type {
    line-height: 1;
  }
}

section.qa_block .qa_grid {
  /* max-width: 90rem; */
  width: 100%;
  height: calc( 100% - 28.5rem);
  padding: 7rem 0 0;
  margin: auto;
  overflow: scroll;
}

section.qa_block .qa_grid::-webkit-scrollbar {
  width: 0;
}

section.qa_block .qa_grid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b4b4b4;
}

@media screen and (max-width: 768px) {
  section.qa_block .qa_grid {
    height: calc( 100% - 22rem);
    padding: 6rem 0 0;
  }
}

section.qa_block .qa_grid .q_block {
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  section.qa_block .qa_grid .q_block {
    margin-bottom: 3rem;
    padding: 0 2rem;
  }
}

section.qa_block .qa_grid .q_block h2 {
  font-family: 'HanziPen SC';
  font-weight: 700;
  font-size: 450%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  section.qa_block .qa_grid .q_block h2 {
    font-size: 3.8rem;
    text-align: center;
  }
}

section.qa_block .qa_grid .a_grid {
  margin: 1rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


section.qa_block .qa_grid .pg_thumb {
  margin-top: 3rem;
  min-width: 50rem;
  height: 20rem;
}

@media screen and (max-width: 768px) {
  section.qa_block .qa_grid .pg_thumb {
    min-width: 100%;
    height: 20rem;
  }
}

section.qa_block .qa_grid .answer_box_long{
  width: 30%;
  text-align: center;
}

section.qa_block .qa_grid .answer_box{
  width: 25%;
  text-align: center;
}

section.qa_block .qa_grid input{
  display: none;
}

input[type="radio"]:checked + label {
  color: #D3665D;}

section.qa_block .qa_grid label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'HanziPen SC';
  font-weight: 900;
  font-size: 400%;
}

@media screen and (max-width: 768px) {
  section.qa_block .qa_grid label {
    font-size: 300%;
  }
}

section.qa_block .qa_grid label.answer_rect_long {
  margin: 1rem auto;
  padding: 1.5rem 0;
  height: 11rem;
  font-family: 'HanziPen SC';
  /* font-size: 1.8rem; */
  font-weight: 900;
  border-bottom: solid #3d9ec8 2px;
}

@media screen and (max-width: 768px) {
  section.qa_block .qa_grid label.answer_rect_long {
    padding: 0 1rem;
    height: 6rem;
  }
}

section.qa_block .qa_grid label.answer_rect {
  margin: 1rem auto;
  padding: 1.5rem 0;
  height: 7rem;
  font-family: 'HanziPen SC';
  /* font-size: 1.8rem; */
  font-weight: 900;
  border-bottom: solid #3d9ec8 2px;
}

@media screen and (max-width: 768px) {
  section.qa_block .qa_grid label.answer_rect {
    padding: 0 1rem;
    height: 6rem;
  }
}



/*ボタンのCSS*/
.go_btn_wrapper {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    padding:10px;
    background-color: #DDD0CA;
}

@media screen and (max-width: 767px){
  .go_btn_wrapper {
        background-color: #DDD0CA;
  }
}

.transition_forward_button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 1em;
  padding: 1em 1em;
  width: 100px;
  height: 100px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.3s;
  font-family: 'HanziPen SC';
  font-size: 200%;
}

.transition_forward_button a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #3d9ec8;
  border-radius: 50%;
  transition: 0.2s;
}

.transition_forward_button a::after {
  content: '';
  width: 1rem;
  height: 1rem;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: rotate(45deg);
}

.transition_forward_button a:hover::before {
  top: 0;
  left: 0;
}

.transition_forward_button a:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}


.transition_back_button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 1em;
  padding: 1em 1em;
  width: 100px;
  height: 100px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(253, 253, 253);
  border-radius: 50%;
  transition: 0.3s;
  font-family: 'HanziPen SC';
  font-size: 200%;
}

.transition_back_button a::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #3d9ec8;
  border-radius: 50%;
  transition: 0.2s;
}

.transition_back_button a::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #333333;
  transform: rotate(45deg);
}

.transition_back_button a:hover::before {
  top: 0;
  left: 0;
}

.transition_back_button a:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}


.transition_forward_button button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 1em;
  padding: 1em 1em;
  width: 100px;
  height: 100px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.3s;
  font-family: 'HanziPen SC';
  font-size: 200%;
}

.transition_forward_button button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #3d9ec8;
  border-radius: 50%;
  transition: 0.2s;
}

.transition_forward_button button::after {
  content: '';
  width: 1rem;
  height: 1rem;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: rotate(45deg);
}

.transition_forward_button button:hover::before {
  top: 0;
  left: 0;
}

.transition_forward_button button:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}
